body {font: 14px 'Century Gothic', Futura, sans-serif; margin: 0px;}

/* TypeLabel */
.TypeLabel{display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  width: 19px;
  height: 19px;
  padding: 1px;
  border-radius: 15%;
  color:  white;
  background:#629887;
  -moz-user-select: none; -webkit-user-select: none;
}

/* 整体 */
#TypedexSingle{display: flex;
  background: #fff8f0;
  padding: 28px;
}
#TypedexSingle td{text-align: center;}

/* TypeTitle */
#TypedexSingle .TypeTitle{border-collapse: collapse;
  background: lightgray;
  display: inline-block;
  padding: 1px 5px;
}
#TypedexSingle .TypeTitle td{text-align: center;
  font-size: 12px;
  width: 30px;
  height: 28px;
}
/* TypeTitle input */
#TypedexSingle .TypeTitle input{display: none;}
#TypedexSingle .TypeTitle input:checked+label{outline: 5px solid white;}
  
/* TypeShow */
#TypedexSingle .TypeShow{border-collapse: collapse;
  display: inline-block;
  cursor: default;
}
#TypedexSingle .TypeShow td{background: aliceblue;
  width: 64px;
  height: 42px;
  border: 1px solid #008000;
}
#TypedexSingle .TypeShow .blank{background: white}
#TypedexSingle .TypeShow .effZero{background: lightblue;}
#TypedexSingle .TypeShow .effHalf{background: OldLace}
#TypedexSingle .TypeShow .effNormal{background: PeachPuff}
#TypedexSingle .TypeShow .effDouble{background: Salmon }
#TypedexSingle .TypeShow .yLine{border-right: 2px solid green}
#TypedexSingle .TypeShow .xLine{border-top: 2px solid green}
/* #TypedexSingle td:hover{outline: 2px solid darkgreen;} */
